<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th><span>ID</span></th> 
        <th><span>First name</span></th> 
        <th><span>Last name</span></th> 
        <th><span>Status</span></th> 
        <th><span>Email</span></th> 
        <th><span>Created at</span></th> 
      </tr>
    </thead>
    <tbody>
      <tr>
          <th><span><%= @user.id %></span></th> 
          <td><span><%= @user.first_name %></span></th> 
          <td><span><%= @user.last_name %></span></th> 
          <td><span><%= @user.status %></span></th> 
          <td><span><%= @user.email %></span></th> 
          <td><span><%= @user.created_at %></span></th>  
        </tr>
    </tbody>
  </table>
  <%= link_to 'Go to users list', admin_users_path, class: "btn btn-primary" %>
</div>